.Myphoto {
	width: 45% ;
}
body {
	background-color: #9933FF ;
}
.Myphoto2 {
	width: 50% ;
	width: green ;
	text-decoration-style: dashed
}
h1 {
	color:  #4C0099 ;
	c
}
.Mypar {
		font-size: 100%;
		text-decoration-color: purple;
		text-decoration-style: wavy
		color: #4C0099 ;
}

